In [1]:
import pandas as pd
df = pd.read_csv('data_fin.csv')
df.drop(['Unnamed: 0'], axis=1, inplace=True)
# data = df.drop(['DEMAND'], axis = 1)
df

     CUST NO.  XCOORD.  YCOORD.  READY TIME  DUE DATE  SERVICE TIME
0         0.0     35.0     35.0         0.0    1000.0           0.0
1         1.0     41.0     49.0       707.0     848.0          10.0
2         2.0     35.0     17.0       143.0     282.0          10.0
3         3.0     55.0     45.0       527.0     584.0          10.0
4         4.0     55.0     20.0       678.0     801.0          10.0
..        ...      ...      ...         ...       ...           ...
96       96.0     22.0     27.0       607.0     690.0          10.0
97       97.0     25.0     21.0       612.0     673.0          10.0
98       98.0     19.0     21.0       183.0     306.0          10.0
99       99.0     20.0     26.0       333.0     432.0          10.0
100     100.0     18.0     18.0       798.0     965.0          10.0

[101 rows x 6 columns]

In [2]:
# data.to_csv('data_fin.csv')

In [3]:
df.describe()

,CUST NO.,XCOORD.,YCOORD.,READY TIME,DUE DATE,SERVICE TIME
count,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,50.000000,33.712871,35.910891,387.336634,512.049505,9.900990
std,29.300171,18.273115,19.388192,246.575801,241.863159,0.995037
min,0.000000,2.000000,3.000000,0.000000,172.000000,0.000000
25%,25.000000,19.000000,20.000000,183.000000,313.000000,10.000000
50%,50.000000,31.000000,35.000000,384.000000,461.000000,10.000000
75%,75.000000,49.000000,52.000000,606.000000,693.000000,10.000000
max,100.000000,67.000000,77.000000,849.000000,1000.000000,10.000000

In [4]:
print(df.sort_values('XCOORD.'))

    CUST NO.  XCOORD.  YCOORD.  READY TIME  DUE DATE  SERVICE TIME
46      46.0      2.0     48.0       515.0     628.0          10.0
36      36.0      2.0     60.0        41.0     208.0          10.0
86      86.0      4.0     18.0       388.0     465.0          10.0
38      38.0      5.0      5.0       302.0     405.0          10.0
17      17.0      5.0     30.0       733.0     870.0          10.0
..       ...      ...      ...         ...       ...           ...
29      29.0     64.0     42.0       190.0     313.0          10.0
25      25.0     65.0     20.0       817.0     956.0          10.0
24      24.0     65.0     35.0       704.0     847.0          10.0
34      34.0     65.0     55.0       529.0     614.0          10.0
67      67.0     67.0      5.0       294.0     401.0          10.0

[101 rows x 6 columns]

In [5]:
print(df.sort_values('YCOORD.'))

    CUST NO.  XCOORD.  YCOORD.  READY TIME  DUE DATE  SERVICE TIME
43      43.0     23.0      3.0       620.0     705.0          10.0
67      67.0     67.0      5.0       294.0     401.0          10.0
15      15.0     30.0      5.0       175.0     300.0          10.0
23      23.0     55.0      5.0       206.0     325.0          10.0
38      38.0      5.0      5.0       302.0     405.0          10.0
..       ...      ...      ...         ...       ...           ...
63      63.0     27.0     69.0        34.0     191.0          10.0
32      32.0     35.0     69.0       660.0     777.0          10.0
66      66.0     49.0     73.0       592.0     693.0          10.0
65      65.0     62.0     77.0        49.0     188.0          10.0
64      64.0     15.0     77.0       214.0     333.0          10.0

[101 rows x 6 columns]

In [6]:
print(df['XCOORD.'].unique())

[35. 41. 55. 15. 25. 20. 10. 30. 50.  5. 45. 65. 64. 40. 31. 53. 63.  2.
 60. 42. 24. 23. 11.  6.  8. 13. 47. 49. 27. 37. 57. 32. 36. 21. 17. 12.
 62. 67. 56. 44. 46. 61. 14. 16.  4. 28. 26. 22. 18. 19.]

In [7]:
print(df['YCOORD.'].unique())

[35. 49. 17. 45. 20. 30. 50. 43. 60. 65. 25. 10.  5. 40. 37. 42. 52. 69.
 55. 12.  7.  3. 14. 38. 48. 56. 68. 47. 58. 31. 29. 23. 26. 24. 34. 77.
 73. 39. 16. 13. 11. 54. 22. 18. 67. 19. 27. 21.]

In [8]:
l1 = list() # 100 elemnts : 100 points
# 2 elements coordinates
x = df['XCOORD.']
y = df['YCOORD.']

for i in range(len(x)):
    l2 = list() 
    l2.append(x[i])
    l2.append(y[i])
    l1.append(l2)

In [9]:
l1

[[35.0, 35.0],
 [41.0, 49.0],
 [35.0, 17.0],
 [55.0, 45.0],
 [55.0, 20.0],
 [15.0, 30.0],
 [25.0, 30.0],
 [20.0, 50.0],
 [10.0, 43.0],
 [55.0, 60.0],
 [30.0, 60.0],
 [20.0, 65.0],
 [50.0, 35.0],
 [30.0, 25.0],
 [15.0, 10.0],
 [30.0, 5.0],
 [10.0, 20.0],
 [5.0, 30.0],
 [20.0, 40.0],
 [15.0, 60.0],
 [45.0, 65.0],
 [45.0, 20.0],
 [45.0, 10.0],
 [55.0, 5.0],
 [65.0, 35.0],
 [65.0, 20.0],
 [45.0, 30.0],
 [35.0, 40.0],
 [41.0, 37.0],
 [64.0, 42.0],
 [40.0, 60.0],
 [31.0, 52.0],
 [35.0, 69.0],
 [53.0, 52.0],
 [65.0, 55.0],
 [63.0, 65.0],
 [2.0, 60.0],
 [20.0, 20.0],
 [5.0, 5.0],
 [60.0, 12.0],
 [40.0, 25.0],
 [42.0, 7.0],
 [24.0, 12.0],
 [23.0, 3.0],
 [11.0, 14.0],
 [6.0, 38.0],
 [2.0, 48.0],
 [8.0, 56.0],
 [13.0, 52.0],
 [6.0, 68.0],
 [47.0, 47.0],
 [49.0, 58.0],
 [27.0, 43.0],
 [37.0, 31.0],
 [57.0, 29.0],
 [63.0, 23.0],
 [53.0, 12.0],
 [32.0, 12.0],
 [36.0, 26.0],
 [21.0, 24.0],
 [17.0, 34.0],
 [12.0, 24.0],
 [24.0, 58.0],
 [27.0, 69.0],
 [15.0, 77.0],
 [62.0, 77.0],
 [49.0, 73.0],
 [67.0, 5.0],
 [56.0, 39.0],
 [37.0, 47.0],
 [37.0, 56.0],
 [57.0, 68.0],
 [47.0, 16.0],
 [44.0, 17.0],
 [46.0, 13.0],
 [49.0, 11.0],
 [49.0, 42.0],
 [53.0, 43.0],
 [61.0, 52.0],
 [57.0, 48.0],
 [56.0, 37.0],
 [55.0, 54.0],
 [15.0, 47.0],
 [14.0, 37.0],
 [11.0, 31.0],
 [16.0, 22.0],
 [4.0, 18.0],
 [28.0, 18.0],
 [26.0, 52.0],
 [26.0, 35.0],
 [31.0, 67.0],
 [15.0, 19.0],
 [22.0, 22.0],
 [18.0, 24.0],
 [26.0, 27.0],
 [25.0, 24.0],
 [22.0, 27.0],
 [25.0, 21.0],
 [19.0, 21.0],
 [20.0, 26.0],
 [18.0, 18.0]]

In [10]:
l3 = []
for i in range(len(l1)):
    l4 = []
    for j in range(len(l1)):
        l4.append(abs(l1[i][0]-l1[j][0])+abs(l1[i][1]-l1[j][1]))
    l3.append(l4)

In [11]:
points = pd.DataFrame(l1)
points

        0     1
0    35.0  35.0
1    41.0  49.0
2    35.0  17.0
3    55.0  45.0
4    55.0  20.0
..    ...   ...
96   22.0  27.0
97   25.0  21.0
98   19.0  21.0
99   20.0  26.0
100  18.0  18.0

[101 rows x 2 columns]

In [12]:
points.to_csv('points.csv')

In [13]:
len(l3[0])

101

In [14]:
import numpy as np
np.shape(l3)

(101, 101)

In [15]:
print(l3[0])

[0.0, 20.0, 18.0, 30.0, 35.0, 25.0, 15.0, 30.0, 33.0, 45.0, 30.0, 45.0, 15.0, 15.0, 45.0, 35.0, 40.0, 35.0, 20.0, 45.0, 40.0, 25.0, 35.0, 50.0, 30.0, 45.0, 15.0, 5.0, 8.0, 36.0, 30.0, 21.0, 34.0, 35.0, 50.0, 58.0, 58.0, 30.0, 60.0, 48.0, 15.0, 35.0, 34.0, 44.0, 45.0, 32.0, 46.0, 48.0, 39.0, 62.0, 24.0, 37.0, 16.0, 6.0, 28.0, 40.0, 41.0, 26.0, 10.0, 25.0, 19.0, 34.0, 34.0, 42.0, 62.0, 69.0, 52.0, 62.0, 25.0, 14.0, 23.0, 55.0, 31.0, 27.0, 33.0, 38.0, 21.0, 26.0, 43.0, 35.0, 23.0, 39.0, 32.0, 23.0, 28.0, 32.0, 48.0, 24.0, 26.0, 9.0, 36.0, 36.0, 26.0, 28.0, 17.0, 21.0, 21.0, 24.0, 30.0, 24.0, 34.0]

In [16]:
print(l3[1])

[20.0, 0.0, 38.0, 18.0, 43.0, 45.0, 35.0, 22.0, 37.0, 25.0, 22.0, 37.0, 23.0, 35.0, 65.0, 55.0, 60.0, 55.0, 30.0, 37.0, 20.0, 33.0, 43.0, 58.0, 38.0, 53.0, 23.0, 15.0, 12.0, 30.0, 12.0, 13.0, 26.0, 15.0, 30.0, 38.0, 50.0, 50.0, 80.0, 56.0, 25.0, 43.0, 54.0, 64.0, 65.0, 46.0, 40.0, 40.0, 31.0, 54.0, 8.0, 17.0, 20.0, 22.0, 36.0, 48.0, 49.0, 46.0, 28.0, 45.0, 39.0, 54.0, 26.0, 34.0, 54.0, 49.0, 32.0, 70.0, 25.0, 6.0, 11.0, 35.0, 39.0, 35.0, 41.0, 46.0, 15.0, 18.0, 23.0, 17.0, 27.0, 19.0, 28.0, 39.0, 48.0, 52.0, 68.0, 44.0, 18.0, 29.0, 28.0, 56.0, 46.0, 48.0, 37.0, 41.0, 41.0, 44.0, 50.0, 44.0, 54.0]

In [17]:
print(l3[2])

[18.0, 38.0, 0.0, 48.0, 23.0, 33.0, 23.0, 48.0, 51.0, 63.0, 48.0, 63.0, 33.0, 13.0, 27.0, 17.0, 28.0, 43.0, 38.0, 63.0, 58.0, 13.0, 17.0, 32.0, 48.0, 33.0, 23.0, 23.0, 26.0, 54.0, 48.0, 39.0, 52.0, 53.0, 68.0, 76.0, 76.0, 18.0, 42.0, 30.0, 13.0, 17.0, 16.0, 26.0, 27.0, 50.0, 64.0, 66.0, 57.0, 80.0, 42.0, 55.0, 34.0, 16.0, 34.0, 34.0, 23.0, 8.0, 10.0, 21.0, 35.0, 30.0, 52.0, 60.0, 80.0, 87.0, 70.0, 44.0, 43.0, 32.0, 41.0, 73.0, 13.0, 9.0, 15.0, 20.0, 39.0, 44.0, 61.0, 53.0, 41.0, 57.0, 50.0, 41.0, 38.0, 24.0, 32.0, 8.0, 44.0, 27.0, 54.0, 22.0, 18.0, 24.0, 19.0, 17.0, 23.0, 14.0, 20.0, 24.0, 18.0]

In [19]:
l3.to_csv('time_mat.csv')

AttributeError: 'list' object has no attribute 'to_csv'

In [73]:
import xlwt
workbook = xlwt.Workbook()
sheet = workbook.add_sheet("Sheet")

for i in range(len(l3)):
    for j in range(len(l3[i])):
        sheet.write(i, j, l3[i][j])

workbook.save("test.xls")